<!DOCTYPE html>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div class="header">
    <div class="h-center">
        <ul class="h-menu">
            <li><a href="/posts/join">회원가입</a></li>
            <li><a href="/posts/login">로그인</a></li>
        </ul>
        <div class="h-gnbMain">
            <div class="h-gnbLogo">
                <a href="index.mustache"><h1>BRAND MAKER</h1></a>
            </div>
            <ul class="h-gnb">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">타사분석</a></li>
                <li><a href="#">프로세스</a></li>
                <li><a href="#">포트폴리오</a></li>
                <li><a href="#">문의하기</a></li>
            </ul>
        </div>
    </div>
</div>