{{>layout/header}}
<body>
<div class="header">
    <div class="h-center">
        <ul class="h-menu">
            <li><a href="join.mustache">회원가입</a></li>
            <li><a href="login.mustache">로그인</a></li>
        </ul>
        <div class="h-gnbMain">
            <div class="h-gnbLogo">
                <a href="index.html"><h1>BRAND MAKER</h1></a>
            </div>
            <ul class="h-gnb">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">타사분석</a></li>
                <li><a href="#">프로세스</a></li>
                <li><a href="#">포트폴리오</a></li>
                <li><a href="#">문의하기</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>